/* styles.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerParagraph {
  margin: 0.4rem 0;
}

.footerAnchor {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
